<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~rohan/phoneResq/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~rohan/phoneResq/index.php [L]
</IfModule>
